<div layout = "row" layout-wrap >
    <md-card id = "itemCard" ng-repeat="item in items | filter:search" flex = "30" flex-sm = "100" layout = "column">
        <md-card-title-text layout-align = "center center" flex = "10">
            <center><span class="md-headline title">{{item.name}}</span></center>
        </md-card-title-text>
        <md-card-content layout = "column" flex = "75">
            <div flex = "70" id = "imgDiv" layout = "row">
                <div layout-align = "center center">
                    <!--<img id = "{{item.id}}" src = ""  height = "210px" width="100%" style = "min-width: 100px" />-->
                    <img id = "itemid" src = "{{item.dataURL}}"  height = "210px" width="100%" style = "min-width: 100px" />
                </div>
            </div>
            <div flex = "15" layout = "row" >
                <div layout-align = "center center" flex = "100">
                    <center><span class="md-headline title"> {{item.price | currency: "SEK " : 0}}</span></center>
                </div>
            </div>
            <div flex = "15" layout = "row">
                <div layout-align = "center center" flex = "100">
                    <!--<center><span id = "rating_{{item.id}}" class="md-title title">.....</span></center>-->
                    <center><span id = "rating" class="md-title title">RATING : {{item.userRating}}</span></center>
                    <md-tooltip>
                        THIS IS THE SELLER RATING
                    </md-tooltip>
                </div>
            </div>
        </md-card-content>
        <md-card-actions flex = "15" layout = "row" layout-align = "center center">
            <div layout-align = "center center" flex = "100" layout = "row">
                <md-button flex = "100" class = "md-primary md-raised" ng-click = "itemDetails(item.id)">View Details</md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>