<md-dialog id = "itemDetails" aria-label = "Item Details" flex = "60" layout = "column">
    <md-toolbar class= "row" flex = "100">
        <div class="md-toolbar-tools" class= "row" flex = "100">
            <div flex = "70"><span>Details of {{item.name}}</span></div>
                <!-- fill up the space between left and right area -->
            <span flex></span>
            <div>
                <md-button class="md-fab md-mini md-primary" aria-label="exit" ng-click = "closePopUp()"> X </md-button>
            </div>
        </div>
    </md-toolbar>
    <div flex = "100" layout = "row" layout-margin>
        <div id = "itemImgDiv" layout = "column" flex = "50" layout-margin ng-show = "showItem == true">
            <img id = "single_item_{{item.id}}" src = "" height = "200" width = "100%"/>
            <br />
            <div flex-offset = "5"><span class = "md-subhead title">Seller : {{item.userId}}</span></div>
        </div>
        <div id = "itemImgDiv" flex = "50" layout-margin ng-show = "showItem == false" layout-align = "center center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div id = "itemInfoDiv" layout = "column" flex = "50" layout-margin ng-show = "!displaySendMessage">
            <div><span class = "md-title title">Price : {{item.price | currency: "SEK" : 0}}</span></div>
            <div><span id = "single_item_rating_{{item.id}}" class="md-title">.....</span></div>
            <br /><br />
            <span class = "md-subhead title">DESCRIPTION:</span>
            <hr />
            <span class = "md-subhead">{{item.description}}</span>
            <br /><br /><hr />
            <div ng-if = "item.isSold == '-1' || item.isSold == '' " flex = "100">
                <md-button id = "buyButton" class="md-raised md-accent"  ng-if = "!isMyItem" ng-click = "iWantToBuy()"  
                    ng-disabled = "!canBuy" > Buy </md-button>
            </div>
            <div ng-if = "item.isSold != '-1' && item.isSold !=''">
                <md-button class="md-raised md-accent"  ng-if = "item.isSold != '-1'" ng-disabled = "1 == 1"> SOLD </md-button>
            </div>
        </div>
        <div id = "itemInfoDiv" layout = "column" flex = "50" layout-margin ng-show = "displaySendMessage">
            <textarea ng-model = "message" id = "message" cols = "35" rows = "10" wrap = "soft" placeholder = "Write your message here. Lagom loves you"></textarea>
            <md-button class="md-raised md-accent" ng-click = "sendMessage()"  ng-disabled = "!canBuy"> Send Message </md-button>
        <div>
    </div>
</md-dialog>